/* 
    This is my style for the website
*/

#Main_Text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}

nav{
    display: flex;
    padding 2% 6%;
    justify-content: space-between;
    align-items: center;
}
