/* 
    This is my style for the website
*/

/*
    Font of the site should be
    font-family: 'Open Sans', sans-serif;
*/

/* 
    This is my style for the website
*/

/*
    Font of the site should be
    font-family: 'Open Sans', sans-serif;
*/

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Main_Text {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    font-size: 40px;
    color: greenyellow;
}



.header {
    background-color: rgba(0, 0, 0, 0.932);
}
.Titles {
    text-align: center;
    background-color: #000000;
    height: 300px;
    color: rgba(172, 255, 47, 0.76);
}

/* Home page */
#canvases {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(201, 101, 101), rgb(187, 26, 26));
}



/* Navigation at the top */
nav{
    font-size: 20px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: right;
}
  
nav img{
    width: 200px;
}
  
.navigation-links{
    flex: 1;
    text-align: right;
}
.navigation-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
}

.navigation-links ul li a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 30;
}
.navigation-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: greenyellow;
    display: block;
    margin: auto;
    transition: 0.75s;
}
.navigation-links ul li:hover::after{
    width: 100%;
}
/* About Me Section */
.aboutme {
    background: repeating-linear-gradient(rgb(73, 204, 117), rgb(115, 230, 92), rgb(139, 243, 91));
    padding-bottom: 50px;
}

/* Contact section */
.icons .fa {
    margin: 0 13px;
    cursor: pointer;
    padding: 20px 0;
    color: rgb(0, 0, 0);
}
.icons::after{
    background-color: aqua;
    color: red;
}
.icons {
    text-align: center;
    size: 10px;
}

.ContactMe {
    background: repeating-linear-gradient(rgb(204, 73, 123), rgb(230, 92, 223), rgb(200, 91, 243));
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
}

/* Project Section */
.all_project {
    background: repeating-linear-gradient(rgb(73, 86, 204), rgb(92, 163, 230), rgb(91, 200, 243));
    padding-bottom: 50px;
}
.project_back {
    background: linear-gradient(to right, #28e979, #b0e421, #da6c23);
    width: 550px;
    height: 550px;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 10px;
}
.Project_Image {
    width: 500px;
    height: 400px;
}
.project {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.project_back :hover{
    transform: scale(1.01);
    transition: 0.75s ease-in;
    cursor: pointer;
}
.Project_Text {
    font-size: 40px;
    font-family: Arial, 
        Helvetica, sans-serif;
    background: linear-gradient(to top, rgb(43, 199, 247), rgb(0, 110, 255));
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}